@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400");
* {
  box-sizing: border-box;
}

body {
  display: block;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: 'Poppins', 'Times New Roman', Times, serif, sans-serif;
  width: 400px;
  height: 700px;
  border-radius: 1rem;
  padding: 1.5rem 1rem 1rem 1.5rem;
  position: relative;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: black;
  text-align: center;
  font-size: 37px;
  font-weight: 100;
  margin: 0 0 30px;
  padding: 0;
}

.btn {
  display: block;
  border: 1px solid transparent;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  outline: none;
  font-family: "Poppins", 'Times New Roman', Times, serif, sans-serif;
  font-weight: 100;
}

.social__login {
  display: flex;
}

.social__login a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px
}

.social__login i {
  margin-right: 10px;
}

.btn__google {
  background-color: black;
  color: white;
  font-size: 18px;

}

.loginwords {
  color: black;
}
